@charset "UTF-8";
@import url("reset.css");

:root {
  --header-color: #CF2B2B;
}

.header {
  width: 100%;
  height: 92px;
  padding: 20px;
  background: var(--header-color);
}

.header__title {
  font-size: 44px;
  line-height: 22px;
  font-family: 'Righteous', sans-serif;
}

.header__description {
  font-size: 18px;
  line-height: 55px;
}

.main {
  width: 100%;
  display: flex;
  padding: 30px 20px;
  margin-bottom: 60px;
}

.main__content {
  width: 100%;
}

.content__first-dish, .content__second-dish, .content__third-dish {
  margin-bottom: 27px;
}

.first__dish-title, .second__dish-title, .third__dish-title {
  color: #333333;
  font-weight: 400;
  font-size: 26px;
  margin-left: 10px;
  font-family: 'Righteous', cursive;
}

.first__dish-options, .second__dish-options, .third__dish-options {
  width: 100%;
  margin-top: 17px;
}

.options__list {
  display: flex;
  padding: 10px;
  overflow-x: auto;
}

.options__list::-webkit-scrollbar {
  width: 0.1px;
}

/* Track */
.options__list::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.options__list::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* Handle on hover */
.options__list::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}

.options__list li {
  flex: 0 0 172px;
  padding: 18px 14px;
  cursor: pointer;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  user-select: none;
  margin-right: 16px;
  border: 5px solid #fff;
  overflow-x: visible;
}

.options__list .enable {
  border: 5px solid #32B72F;
}

.options__figure {
  display: flex;
  flex-direction: column;
}

.options__figure img{
 object-fit: contain;
}
.options__first-title, .options__second-title, .options__third-title {
  font-family: 'Roboto', sans-serif;
}
.options__first-title {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  margin: 8px 0 6px 0;
}
.options__second-title {
  color: #A6A6A6;
  font-weight: 300;
  margin-bottom: 7px;
}
.options__third-title {
  font-size: 16px;
  color:  #000000;
}

.options__footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options__footer img {
  display: none;
}
.enable .options__footer img {
  display: block;
}
.content__button {
  width: 100%;
  height: 92px;
  background: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__button .button {
  border: 0;
  background: #CBCBCB;
  width: 100%;
  max-width: 364px;
  height: 61px;
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

.button.enabled {
  background: #32B72F;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal__close-order {
  width: 100%;
  max-width: 337px;
  height: 353px;
  padding: 21px 26px;
  background:  #50D074;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}
.modal__close-order h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}
.modal__close-order ul {
  margin-top: 28px;
}
.modal__close-order ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
.modal__close-order ul li :nth-child(1), .modal__close-order ul li :nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}
.total__title {
  font-weight: 500 !important;
}
.area__button {
  display: flex;
  flex-direction: column;
}
.area__button .button__close-order {
  width: 100%;
  max-width: 332px;
  height: 52px;
  color: #50D074;
  border: 0;
  font-family: 'Roboto', sans-serif;
  border-radius: 100px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  margin-top: 24px;
}
.button__close-cancel {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  cursor: pointer;
  user-select: none;
}